#container{
    width: 30em;
    height: 85vh;
    margin: auto;
    margin-top: 2.5em;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    border-radius: 1em;
    padding: 2em 2.5em;
   
}
#container hr{
    height: 2px;
    border: none;
    background-color: rgb(22, 21, 21);
}

#container ul li{
    display: flex;
    align-items: center;
    height: 2.5em;
    padding-left: 1em;
    border: 1px solid seagreen;
    border-radius: 8px;
    margin-bottom: 0.8em;
    cursor: pointer;


}

#container button{
    height: 2em;
    border-radius: 8px;
    border: 1px solid black;
    font-size: 1em;
    color: white;
    background-color: rgb(34, 114, 69);
    width: 8em;
    

    
    
}

#container .index{
    display: flex;
    justify-content: center;
    font-weight: 400;
}

.correct{
    background-color: rgb(79, 152, 79);
    color: white;
    transition: all ease 0.2s;
    border: 1px solid black;
}
.wrong{
    background-color: rgb(251, 45, 86);
    color: white;
    transition: all ease 0.2s;
    border: 1px solid black;
}

.btn-1{
    display: flex;
    justify-content: center;
}
.btn-2{
    display: flex;
    justify-content: center;
}

.score{
    font-size: 0.9em;
    
}
.heading{
    border-bottom: 3px solid black;
    color: seagreen;
}